---

import Image from "astro/components/Image.astro"
import hero_screens from "../assets/theme-images/hero-screens.png"
import logo from "../assets/theme-images/header-logo.png"

const { settings, title, content } = Astro.props

---

<section class="bs-container py-4 md:py-8 lg:py-12 flex justify-center">

  <!-- Content -->
  <div class="flex flex-col text-center justify-center gap-4 md:gap-6 w-full px-4 sm:px-8 lg:px-12 py-8 md:py-12 lg:py-16">

    <!-- Title -->
    <h1 class="bs-h1 text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl" set:html={ title } />

    <!-- Content -->
    <div class="bs-body-text text-base sm:text-lg md:text-xl flex flex-col gap-3 md:gap-4 [&_p]:last:text-bs-foreground-dark" set:html={ content } />

    <!-- CTA -->
    <button type="button" class="bs-btn w-full sm:w-auto justify-center self-center bs-mt-sm text-sm sm:text-base px-6 py-3" onclick="demo.showModal()">
      { settings.demo.cta }
    </button>

  </div>

  <!-- Image -->
  <!-- <figure class="flex lg:mt-0 mr-20"> -->

    <!-- <Image src={ hero_screens } format="avif" quality="high" alt="Screens showing phone, tablet and desktop views of our website" loading="eager" /> -->
    <!-- <img src={ logo.src } alt="Empresa Pamonhas Mil logo" loading="lazy" height="400" width="400" /> -->

  <!-- </figure> -->

</section>
